#NavLogo {
  width: 56px;
  height: 56px;
}

.blue {
  background: #277da1 !important;
}

.teal {
  background: #38ab8b !important;
}

.yellow {
  background: #fac751 !important;
}

.green {
  background: #98cd67 !important;
}

.orange {
  background: #f3733c !important;
}

.lead {
  padding-bottom: 3em;
}

/* SVG background image via https://haikei.app/ */
.spacer {
  aspect-ratio: 900/200;
  width: 100% !important;
  height: auto;
  max-height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  width: 100%;
  height: 100%;
}

.layer2 {
  width: 100%;
  height: 100%;
}

.flip {
  transform: rotate(180deg);
}
