/* The following block can be included in a custom.scss */
/* make the customizations */
$enable-negative-margins: true;

$primary: #277da1;
$info: #38ab8b;
$success: #add785;
$green: #98cd67;
$warning: #fac751;
$dark: #212529;

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

/* custom css below */
@media (min-width: 768px) { 
  html {
    font-size: 110%;
  }
}

.blue {
    background: $primary !important;
  }
  
  .teal {
    background: $info !important;
  }
  
  .yellow {
    background: $warning !important;
  }
  
  .green {
    background: $green !important;
  }
  
  .orange {
    background: #f3733c !important;
  }
  
  .navLogo {
    width: 56px;
    height: 56px;
  }
  
  .chevron {
    cursor: pointer;
    padding-bottom: 1.3em !important;
  }
  
  .chevron:active {
    background-color: $primary !important;
  }

  div#contentWrapper {
    width: 100vw;
    max-width: 100%;
  }

  section {
    overflow-x: clip;
    z-index: 1;
    display: flex;
    flex-grow: 1 !important;
    flex-direction: column;
    align-content: baseline;
    justify-content: center;
  }
