.blue {
  background: #277da1 !important;
}

.teal {
  background: #38ab8b !important;
}

.yellow {
  background: #fac751 !important;
}

.green {
  background: #98cd67 !important;
}

.orange {
  background: #f3733c !important;
}

.lead {
  padding-bottom: 3em;
}

.navLogo {
  width: 56px;
  height: 56px;
}
