/* The following block can be included in a custom.scss */

/* make the customizations */
$enable-negative-margins: true;

$primary: #277da1;
$info: #38ab8b;
$success: #98cd67;
$warning: #fac751;
$dark: #212529;


/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";