{% extends 'base-react.html' %}

{% block head %}

    <title>Piboy Technical Solutions | Piboy.ca</title>
    <meta
      name="description"
      content="Developing simple solutions to life's technical problems."
    />
    <link rel="icon" href="{{ MEDIA_URL }}favicon.ico" />
    <link rel="apple-touch-icon" href="{{ MEDIA_URL }}logo192.png" />

    {% comment %} <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    {% endcomment %}

    <link rel="manifest" href="{{ STATIC_URL }}manifest.json" />

    {{ sharedData|json_script:"sharedData" }}

{% endblock head %}

{% block body %} {% block main %}

{% endblock main %}

{{ block.super }}

{% endblock body %}

{% block scripts %}
{% endblock scripts %}