footer > * {
    z-index: 1;
}

.chevron {
    overflow: clip;
    box-shadow: none;
}
.chevron:active {
    box-shadow: 0px 0px 8px #277da1;
}

@media (min-width: 576px) {
    .chevron:hover {
        box-shadow: 0px 0px 8px #add785;
    }
}
