.motionLogo {
  width: 100%;
  max-width: 400px;
}

.hero-img {
  max-height: 40vh;
  min-height:16em;
}

.border-top.section-border {
  border-top-width: 0.25em !important;
}

.space-cat {
  scale: 1.25;
}