main {
  overflow-x: clip;
}

@media (min-width: 992px) {
  #main2 {
    scroll-margin-top: 5rem;
  }
}

@media (max-width: 991px) {
  #main2 {
    scroll-margin-top: 0rem !important;
  }
}

.img-fluid {
  max-width: 66vw !important;
}