#NavBar {
  position: relative;
  z-index: 1;
}

.navbar-toggler {
  height: 2em;
  width: 2em;
  z-index: 11;
  border-radius: 50%;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0 !important;
}

.fixed-toggler {
  position: fixed;
  right: 0.75em;
  top: 0.75em;
  z-index: 11;
}

.spacer {
  z-index: 0;
}

.nav-link:hover {
  cursor: pointer;
}

.nav-link {
  cursor: default !important;
}

.nav-link > * {
  cursor: pointer;
}
