#NavBar {
  position: relative;
  z-index: 1;
}

@media (max-width: 992px) {
  .toggler {
    opacity: 1 !important;
  }
}

.toggler {
  height: 2em;
  width: 2em;
  font-size: 1em;
  z-index: 11;
  border-radius: 50%;
}

.toggler:focus {
  box-shadow: 0 0 0 0 !important;
}

.fixed-toggler {
  position: fixed;
  right: 1em;
  top: 1.25em;
  z-index: 11;
}

.spacer {
  z-index: 0;
}

.navbar-toggler {
  padding: 0.25em !important;
}

svg.fa-ellipsis {
  padding: 0.25em !important;
}

.nav-link:hover {
  cursor: pointer;
}

.nav-link {
  cursor: default !important;
}

.nav-link > * {
  cursor: pointer;
}
