.flip {
    transform: rotate(180deg);
  }

@media (max-width: 575px) {
  .spacer {
    height: 5vh;
  }
}

@media (min-width: 576px) {
  .spacer {
    height: 12vh;
  }
}
.spacer {
    width: 100% !important;
    display: flex;
}
  
.waves {
    width: 105%;
    height: 100%;
  }

#spacer1 {
  margin-top: -2px !important;
}