.flip {
    transform: rotate(180deg);
  }

.spacer {
    width: 100% !important;
    display: flex;
    height: 10vh;
}
  
.waves {
    width: 105%;
    height: 100%;
  }

#spacer1 {
  margin-top: -2px !important;
}